<!--  stores#_store  -->
<ul class="list-group">
  <li class="list-group-item">
  <strong><%= link_to store.name, store_path(store) %></strong><br>
  <strong><%= store.address %></strong><br>
  </li>
</ul>