<!--  stores#index -->

<!--  store information -->
<% if @user.store.nil? %>
  <%= link_to "Set up your Store", new_store_path, class: "btn btn-default" %>
<% else %>
  <h3>Store: <%= link_to @user.store.name, store_path(@user.store) %></h3>
  <h3>Store Address: <%= @user.store.address %></h3><br>
<% end %>