<!--  stores#new  -->

<!--  validation errors -->
<%= render partial: "/layouts/validation_errors", locals: {model: @store} %>

<!--  form -->
<h2>New Store:</h2>
<%= render partial: "form", locals: {store: @store} %>