<div>
<% if !user_signed_in? %>
  <%= link_to "Sign In", new_user_session_path %><br>
  <%= link_to "Sign In with Facebook", user_facebook_omniauth_authorize_path %><br>
  <%= link_to "Create New Account", new_user_registration_path %><br>
<% end %>
</div>