<h1>Welcome!</h1>
<p>Wine Finder is a groundbreaking database that brings together wines and inventories at merchants around the world. Use it to compare and locate wines at stores near you. If you are a merchant or winery, add your stores and inventory to be viewed by customers online.</p>

<h3>
  <a onclick="showStores()">Browse all Stores</a>
</h3>

<h3>
  <a onclick="showWines()">Browse all Wines</a>
</h3>

      <a onclick="createComment()">asdf</a>