<!--  wines#new -->

<!--  validation errors -->
<%= render partial: "/layouts/validation_errors", locals: {model: @wine} %>

<!--  form -->
<h2>List a Wine:</h2>
<%= render partial: 'form', locals: {wine: @wine} %>