<!--  layouts#_validation_errors  -->

<% if model.errors.any? %>
  <div class="container-fluid alert alert-info">
      <%= pluralize(model.errors.count, "error") %>
      prohibited this <%= model.class.name %> from being saved:
 
    <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>